body{
				background-color:#CDCDCD;
			}

			h3{
				margin:0;
			}
				.box{
                    padding-left: 5px;
					border-style:solid;
					border-width:0.5px;
					border-radius:10px;
					background-color:#F2F2F2;
				}